<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.webnest.mapper.quiz.QuizMapper">
    <select id="selectAllFilter" parameterType="Map" resultType="QuizVO">
        SELECT ID,
            QUIZ_DIFFICULT as quizDifficult,
            QUIZ_LANGUAGE as quizLanguage,
            QUIZ_TITLE as quizTitle,
            QUIZ_CATEGORY as quizCategory,
            QUIZ_EXP as quizExp,
            QUIZ_DESCRIPTION as quizDescription
        FROM TBL_QUIZ
        WHERE 1 = 1
        <if test="quizLanguage != null and quizLanguage != ''">
            AND QUIZ_LANGUAGE = #{quizLanguage}
        </if>
        <if test="quizDifficult != null and quizDifficult != ''">
            AND QUIZ_DIFFICULT = #{quizDifficult}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (QUIZ_TITLE LIKE CONCAT('%', #{keyword}, '%') OR QUIZ_DESCRIPTION LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY ID ASC
        <if test="page != null">
            OFFSET (#{page} - 1) * 10 ROWS FETCH NEXT 10 ROWS ONLY
        </if>

    </select>
    <select id="selectAll" resultType="QuizVO">
        SELECT ID, QUIZ_DIFFICULT, QUIZ_LANGUAGE, QUIZ_TITLE, QUIZ_CATEGORY, QUIZ_EXP, QUIZ_DESCRIPTION
        FROM TBL_QUIZ
    </select>

    <select id="selectListTotalCount" parameterType="Map" resultType="Long" >
        SELECT COUNT(ID)
        FROM TBL_QUIZ
    </select>

</mapper>